{% extends 'base.html.twig' %}
{% block body %}
    <form method="post" enctype="multipart/form-data">
    <input type="file" name="inputFile">
        <input type="submit">
    </form>
    {% for row in history %}
        <div style="color: gray">{{ row.message }}</div>
        <div class="container">
        {% for currency, data in row.bank %}
            <div class="item">
                <div>
                    {{ currency }}
                </div>
                <div>
                {% if data is iterable %}
                    {% for record in data %}
                        {{ record.native }}, {{ record.main }}<br>
                    {% endfor %}
                {% else %}
                    {{ data }}
                {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}